body{
    background-color: 232323;
}
.fullscreenIcon{
    float: right;
}
header{
    margin: 10px;
}
.participantView{
    margin-top: 2%;
}
.audioButton{
    background: url('images/Audio\ icon.png');
    background-position:center;
    background-repeat:no-repeat;
    height: 100%;
}
.videoButton{
    background: url('images/Video\ icon.png');
    background-position:center;
    background-repeat:no-repeat;
}
.phoneButton{
    background: url('images/Phone\ icon.png');
    background-position:center;
    background-repeat:no-repeat;
}